<template>
  <DataPreloader v-if="routesDataStore.state.loading" />
  <div
    v-if="!routesDataStore.state.loading"
    class="layout"
  >
    <aside class="layout__sidebar sidebar">
      <div class="sidebar__header">
        <router-link to="/routes">
          Маршруты
        </router-link>
        <router-link to="/stops">
          Остановки
        </router-link>
      </div>
      <router-view />
    </aside>
    <main class="layout__content">
      <LeafletMap />
    </main>
  </div>
</template>

<script setup>
import DataPreloader from '@/components/DataPreloader.vue';
import LeafletMap from '@/components/LeafletMap.vue';
import { useRoutesDataStore } from '@/stores/routes-data';
import { onMounted } from 'vue';

const routesDataStore = useRoutesDataStore();

onMounted(() => {
  routesDataStore.getRoutes();
});
</script>

<style lang="scss" scoped>
.layout {
  display: flex;
  height: 100vh;
  min-width: 1280px;
  &__sidebar {
    flex: 1;
  }
  &__content {
    flex: 3;
  }
}

.sidebar {
  overflow: hidden;
  &__header {
    display: flex;
    padding: 1rem;
    justify-content: space-around;
  }
}
</style>