<template>
  <div class="route-view">
    <button
      @click="goBack"
      class="route-view__back"
    >
      Назад
    </button>
    <h1>Имя: {{ route.Name }}</h1>
    <h2>Описание:</h2>
    <p>{{ route.Description }}</p>
    <br>
    <h3>Количество остановок в прямом направлении: {{ routeForwardStops.length }}</h3>
    <ol class="route-view__forward-list">
      <li
        v-for="stop in routeForwardStops"
        :key="stop.ID"
      >
        {{ stop.Name }}
      </li>
    </ol>
    <br>
    <h3>Количество остановок в обратном направлении: {{ routeBackwardStops.length }}</h3>
    <ol class="route-view__backward-list">
      <li
        v-for="stop in routeBackwardStops"
        :key="stop.ID"
      >
        {{ stop.Name }}
      </li>
    </ol>
  </div>
</template>

<script setup>
import { useRoutesDataStore } from '@/stores/routes-data.js'
import { useRoute, useRouter } from 'vue-router'
import { computed, onMounted } from 'vue'

const vueRoute = useRoute();
const vueRouter = useRouter()
const routesDataStore = useRoutesDataStore();

const route = routesDataStore.routeById(vueRoute.params.id);
const routeForwardStops = computed(() => route.value.Stops.filter((stop) => stop.Forward));
const routeBackwardStops = computed(() => route.value.Stops.filter((stop) => !stop.Forward));

onMounted(() => routesDataStore.state.currentRouteToCenter = vueRoute.params.id);

const goBack = () => {
  if (vueRouter.hasRoute(-1)) {
    vueRouter.go(-1);
  } else {
    vueRouter.push('/');
  }
};

</script>

<style scoped lang="scss">
.route-view {
  position: relative;
  border-top: 1px solid gray;
  padding: .5rem;
  overflow-y: auto;

  &__back {
    position: absolute;
    top: -37px;
  }

  &__forward-list {
    color: blue;
  }

  &__backward-list {
    color: red;
  }
}
</style>