<template>
  <ag-grid-vue
    style="width: 100%; height: 100%;"
    class="ag-theme-quartz"
    :defaultColDef="defaultColDef"
    :columnDefs="columnDefs"
    :rowData="rowData"
    :on-row-clicked="centerRoute"
    :allowContextMenuWithControlKey="true"
    :getContextMenuItems="getContextMenuItems"
  />
</template>

<script setup>
import { AgGridVue } from "ag-grid-vue3";
import { useRoutesDataStore } from '@/stores/routes-data.js'
import { computed, onMounted, ref } from 'vue'
import 'ag-grid-enterprise';
import { useRouter } from 'vue-router'

const router = useRouter();
const routesDataStore = useRoutesDataStore();

const columnDefs = [
  { field: 'name', headerName: 'Имя', resizable: false },
  { field: 'count', headerName: 'Количество остановок', resizable: false }
];

const defaultColDef = {
  flex: 1,
};

const rowData = computed(() => routesDataStore.state.routes.map(route => ({
  id: route.ID,
  name: route.Name,
  count: route.Stops.length
})));

const centerRoute = (route) => {
  routesDataStore.state.currentRouteToCenter = route.data.id
}

const getContextMenuItems = (params) => ([
  {
    name: 'Подробнее',
    action: () => {
      router.push(`/routes/${params.node.data.id}`);
      centerRoute(params.node);
    }
  }
])

onMounted(() => routesDataStore.setRenderType('routes'));
</script>