<template>
  <ag-grid-vue
    style="width: 100%; height: 100%;"
    class="ag-theme-quartz"
    :defaultColDef="defaultColDef"
    :columnDefs="columnDefs"
    :allowContextMenuWithControlKey="false"
    :rowData="rowData"
    :on-row-clicked="centerStop"
  >
  </ag-grid-vue>
</template>

<script setup>
import { AgGridVue } from 'ag-grid-vue3';
import { useRoutesDataStore } from '@/stores/routes-data.js'
import { computed, onMounted, reactive } from 'vue'

const routesDataStore = useRoutesDataStore();

const columnDefs = [
  { field: 'name', headerName: 'Имя', resizable: false },
  { field: 'routesCount', headerName: 'Количество маршрутов' },
  { field: 'direction', headerName: 'Направление', resizable: false }
];

const defaultColDef = {
  flex: 1,
};

let stopsRoutesCounts = null;

routesDataStore.state.routes.forEach(route => {
  if (!route.Stops) return;
  stopsRoutesCounts = reactive({
    ...stopsRoutesCounts,
    ...route.Stops.reduce((prev, current) => {
      if(prev[current.ID]) {
        return {
          ...prev,
          [current.ID]: prev[current.ID]++
        }
      }
      return {
        ...prev,
        [current.ID]: 1
      }
    }, {})
  })
})

const rowData = computed(() => routesDataStore.state.routes.reduce((prev, current) => {
  if (!current.Stops) return;
  return prev.concat(current.Stops.map(stop => ({
    id: stop.ID,
    name: stop.Name,
    routesCount: stopsRoutesCounts[stop.ID],
    direction: stop.Forward ? 'Прямое' : 'Обратное'
  })))
}, []));

const centerStop = (stop) => {
  routesDataStore.state.currentStopToCenter = stop.data.id
}

onMounted(() => routesDataStore.setRenderType('stops'));
</script>