<template>
  <div class="preloader">
    <div class="loader"></div>
  </div>
</template>

<script setup>

</script>

<style scoped lang="scss">
@keyframes spin {
  from {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  to {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

.preloader {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  z-index: 10;
}

.loader {
  width: 70px;
  height: 70px;
  border: 10px solid #EE3F5B;
  border-radius: 50%;
  border-top-color: black;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  animation: 5s spin infinite linear;
}
</style>