<template>
  <div ref="map" style="height: 100vh;" />
</template>

<script setup>
import { onMounted, reactive, ref, watch } from 'vue'
import L from 'leaflet'
import { useRoutesDataStore } from '@/stores/routes-data';
import { useRoute } from 'vue-router'

const vueRoute = useRoute();
const routesDataStore = useRoutesDataStore();

const state = reactive({
  routesRendered: false,
  stopsRendered: false,
})

const map = ref(null);

onMounted(() => {
  initMap();
  render();
});

watch(() => routesDataStore.state.renderType, () => render());

watch(() => vueRoute.name, () => render());

watch(() => routesDataStore.state.currentRouteToCenter, (routeId) => centerRoute(routeId));
watch(() => routesDataStore.state.currentStopToCenter, (stopId) => centerStop(stopId));
const initMap = () =>  {
  const center = [57.288915, 55.472213];
  const zoom = 13;
  map.value = L.map(map.value).setView(center, zoom);
  L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
      attribution: '© OpenStreetMap contributors',
  }).addTo(map.value);
}

const render = () => {
  if (routesDataStore.state.renderType === routesDataStore.renderTypes.routes) {
    !state.routesRendered && renderRoutes();
    !state.stopsRendered && renderStops();
    state.routesRendered && Object.entries(routesDataStore.routesPolyline).forEach(([id, route]) => {
      setOpacityToRoute(route, 1);
      setOpacityToStops(routesDataStore.routesStopMarkersLayers[id], 1);
    })
  }
  if (routesDataStore.state.renderType === routesDataStore.renderTypes.stops) {
    !state.stopsRendered && renderStops();
    state.routesRendered && removeRoutes();
    state.stopsRendered && Object.keys(routesDataStore.routesStopMarkersLayers).forEach((id) => {
      setOpacityToStops(routesDataStore.routesStopMarkersLayers[id], 1);
    })
  }
}

const renderRoutes = () => {
  Object.values(routesDataStore.routesPolyline).forEach(route => route.addTo(map.value));
  state.routesRendered = true;
}

const renderStops = () => {
  Object.values(routesDataStore.routesStopMarkersLayers).forEach(layer => layer.addTo(map.value));
  state.stopsRendered = true;
}

const removeRoutes = () => {
  Object.values(routesDataStore.routesPolyline).forEach(route => map.value.removeLayer(route));
  state.routesRendered = false;
}

const centerRoute = (routeId) => {
  Object.entries(routesDataStore.routesPolyline).forEach(([id, route]) => {
    if (id == routeId) {
      map.value.fitBounds(route.getBounds());
      setOpacityToRoute(route, 1);
      setOpacityToStops(routesDataStore.routesStopMarkersLayers[id], 1);
    } else {
      setOpacityToRoute(route);
      setOpacityToStops(routesDataStore.routesStopMarkersLayers[id])
    }
  })
}

const setOpacityToRoute = (route, opacity = 0) => {
  route.setStyle({ opacity })
}

const setOpacityToStops = (layer, opacity = 0) => {
  layer.eachLayer(marker => {
    marker.setOpacity(opacity);
  });
}

const centerStop = (stopId) => {
  Object.values(routesDataStore.routesStopMarkersLayers).forEach(layer => {
    setOpacityToStops(layer);
    const marker = Object.values(layer._layers).find((stop) => stop.id === stopId);
    if (marker) {
      map.value.setView(marker.getLatLng(), map.value.getMaxZoom());
      marker.setOpacity(1);
    }
  })
}
</script>

<style scoped lang="scss">

</style>